{% extends 'base.html' %}

{% block main %}

<div class="page about">

  <h1>About</h1>
        <p>
Noel’le Longhaul is a freehand tattoo artist with over ten years of professional experience. The first trans person to have worked in many of the worlds most elite blackwork tattoo shops, she has made numerous contributions to the contemporary tattoo landscape and helped open doors for a generation of new queer tattoo artists. She was named one of the top ten tattoo artists in the world in both 2018 and 2019, and has been featured in and interviewed by many prominent arts and tattoo publications.
                </p>
        <p>
In 2019 she permanently donated her professional instagram account to an indigenous land defense organization, and in 2020 relocated to a small city by the ocean and took a respite from tattooing to focus on her health. Since then she has been living alone and working almost entirely on large-scale, ongoing projects for returning clients, expanding her art practice to clothing and textile design, and working on a children’s book with her mother.

<h3>Rates and Structure:</h3>

<p>
Noel’le uses a sliding scale daily rate of $800-$1200, open to all clients according to their need (on an honor system). Clients who identify as black and/or indigenous are entitled to an additional 25% off the daily rate. A day with her typically begins between 11-12 and ends around 7-8, but she is flexible and can start an hour earlier or later if you are traveling for the work. Pieces are drawn directly on the body in the first session and typically take at least one more session to complete. Half-day rates are available for more rarely selected smaller projects and ongoing large-scale pieces.

                </p>
        <p>
Application and Design Process:
Not everyone’s project is accepted. If your project is not accepted, you are welcome to re-apply at any time. Projects that are more likely to be accepted are large-scale works that demonstrate familiarity with the canon of Noel’le’s portfolio and trajectory as an artist. Once your general proposal is accepted, your appointment will be reserved using a non-refundable $100 deposit.

                </p>
        <p>
Noel’le will contact you in the week before your appointment to answer any remaining questions you have and start the collaborative design process. She will provide you with more detailed questions about the composition, elements, tone, and textures of the piece to prepare for your first session together. During your first session, the first part of the day will be devoted to a detailed in-person consultation and digital mockups of the tattoo. The final agreed-on design will then be drawn directly on the body and re-drawn as needed before it is tattooed.

                </p>
<h3>Aftercare:</h3>

        <p>
Noel’le will provide you with detailed aftercare instructions and be available to answer questions by text message in that time. Follow-up appointments are prioritized for completing pieces and returning clients, and free touch-ups are indefinitely available for all clients regardless of when they received their tattoo.

                </p>
</div>

{% endblock %}
