<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Noel'le Longhaul | Tattoo{% endblock %}</title>

  <meta name="keywords" content="queer, tattoo, freehand"/>
  <meta name="robots" content="index,follow" />

  {% block meta-desctiption %}
  <meta name="description" content="Freehand tattoo artist based in the northeast US.  Books open; all are welcome.">
  <meta property="og:description" content="Freehand tattoo artist based in the northeast US.  Books open; all are welcome.">
  {% endblock %}
  {% block meta-title %}
  <meta property="og:title" content="Noel'le Longhaul | Tattoo">
  {% endblock %}
  {% block meta-image %}
  <meta property="og:image" content="resources/images/main-image-cropped.jpg">
  {% endblock %}

  <meta property="og:type" content="website">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/style.css">

</head>

<body>
  {% block header %}
  <div class="menu">
    <div class="menu-inner">
        <div class="menu-item">
        <a href="/">Gallery</a>
        </div>
        <div class="menu-item">
          <a href="/">
            Noel'le Longhaul
          </a>
        </div>
        <div class="menu-item">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9jzhdLG0ex9f6BzHpQPBVdXPCya-za1tGWB2zQBQBmOD8tw/viewform?usp=sf_link"
             target="_blank">
            Book
          </a>
        </div>
        </div>
    </div>

  {% endblock %}

  {% block main %}

  {% endblock %}
</body>
</html>
