:root {
    --color-white: #fefefe;
    --color-black: #233333;
    --color-grey: #889;
    --color-grey-light: #dde;
    --color-cyan: #8cd7d9;
    --max-width: 1000px;
    --box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

@font-face { font-family: Junicode;
             font-style: normal;
             font-weight: normal;
             font-stretch: normal;
             src: url('/resources/font/Junicode.woff') format('woff'); }

html, body { margin: 0; padding: 0; }

body { font-family: Junicode;
       color: var(--color-black);
       background-color: var(--color-white);
       background: url('./resources/images/back-image.jpg') no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: center center;
       min-height: 100vh;
     }

.menu { height: 3rem;
        position: fixed;
        width: 100%;
        background-color: var(--color-black);
        color: var(--color-white);
        box-shadow: var(--box-shadow);
        top: 0;
      }
.menu-inner {
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}
.menu-item { flex: 1;
             display: flex;
             justify-content: center;
             align-items: center; }

a { color: var(--color-cyan);
    text-decoration: none; }
a:visited { color: var(--color-cyan); }

.page {
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 20rem;
}



.gallery-meta {
    display: flex;
    justify-content: right;
}
.gallery-subtext {
    color: var(--color-grey);
    padding-right: 1rem;
}

.gallery-item {
    background-color: var(--color-black);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
    display: inline-block;
    min-width: 100%;
    min-height: 50rem;
}
.gallery-image img {
    width: 100%;
}

.gallery-items {
    column-count: 3;
    padding: 2rem;
    max-width: 2000px;
    margin: 0 auto;
    column-gap: 2rem;
    row-gap: 2rem;
}
@media screen and (max-width: 1024px) {
    .gallery-items {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .gallery-items {
        column-count: 1;
    }
}

.name {
    margin-top: 15vh;
    margin-bottom: 15vh;
    color: var(--color-white);
    text-align: center;
    font-size: 3rem;
}
